In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV, KFold
from sklearn.metrics.pairwise import cosine_similarity

In [26]:

plays = pd.read_csv('data/user_artists.dat', sep='\t')
artists = pd.read_csv('data/artists.dat', sep='\t', usecols=['id','name'])

# Merge artist and user pref data
ap = pd.merge(artists, plays, how="inner", left_on="id", right_on="artistID")
ap = ap.rename(columns={"weight": "playCount"})

# Group artist by name
artist_rank = ap.groupby(['name']) \
    .agg({'userID' : 'count', 'playCount' : 'sum'}) \
    .rename(columns={"userID" : 'totalUsers', "playCount" : "totalPlays"}) \
    .sort_values(['totalPlays'], ascending=False)

artist_rank['avgPlays'] = artist_rank['totalPlays'] / artist_rank['totalUsers']
print(artist_rank)

                    totalUsers  totalPlays     avgPlays
name
Britney Spears             522     2393140  4584.559387
Depeche Mode               282     1301308  4614.567376
Lady Gaga                  611     1291387  2113.563011
Christina Aguilera         407     1058405  2600.503686
Paramore                   399      963449  2414.659148
...                        ...         ...          ...
Morris                       1           1     1.000000
Eddie Kendricks              1           1     1.000000
Excess Pressure              1           1     1.000000
My Mine                      1           1     1.000000
A.M. Architect               1           1     1.000000

[17632 rows x 3 columns]

In [27]:
# Merge into ap matrix
ap = ap.join(artist_rank, on="name", how="inner") \
    .sort_values(['playCount'], ascending=False)
# Preprocessing
pc = ap.playCount
play_count_scaled = (pc - pc.min()) / (pc.max() - pc.min())
ap = ap.assign(playCountScaled=play_count_scaled)

# Build a user-artist rating matrix 
ratings_df = ap.pivot(index='userID', columns='artistID', values='playCountScaled')
ratings = ratings_df.fillna(0).values

# Show sparsity
density = float(len(ratings.nonzero()[0])) / (ratings.shape[0] * ratings.shape[1]) * 100
print("density: %.2f" % density)

density: 0.28

In [28]:
from scipy.sparse import csr_matrix, csc_matrix, coo_matrix

# Build a sparse matrix
X = csr_matrix(ratings)

n_users, n_items = ratings_df.shape
print("rating matrix shape", ratings_df.shape)

user_ids = ratings_df.index.values
artist_names = ap.sort_values("artistID")["name"].unique()

rating matrix shape (1892, 17632)

In [29]:
from lightfm import LightFM
from lightfm.evaluation import auc_score, precision_at_k, recall_at_k
from lightfm.cross_validation import random_train_test_split
from lightfm.data import Dataset

# Build data references + train test
Xcoo = X.tocoo()
data = Dataset()
data.fit(np.arange(n_users), np.arange(n_items))
interactions, weights = data.build_interactions(zip(Xcoo.row, Xcoo.col, Xcoo.data)) 
train, test = random_train_test_split(interactions, random_state=42)

# Ignore that (weight seems to be ignored...)
#train = train_.tocsr()
#test = test_.tocsr()
#train[train==1] = X[train==1]
#test[test==1] = X[test==1]

# To be completed...

In [30]:
# Train
model = LightFM(learning_rate=0.05, loss='warp', random_state=42)
model.fit(train, epochs=10, num_threads=2)

In [31]:
# Evaluate
train_precision = precision_at_k(model, train, k=10).mean()
test_precision = precision_at_k(model, test, k=10, train_interactions=train).mean()

train_auc = auc_score(model, train).mean()
test_auc = auc_score(model, test, train_interactions=train).mean()

print('Precision: train %.2f, test %.2f.' % (train_precision, test_precision))
print('AUC: train %.2f, test %.2f.' % (train_auc, test_auc))

Precision: train 0.38, test 0.13.
AUC: train 0.96, test 0.86.

In [32]:
# Predict
scores = model.predict(0, np.arange(n_items))
top_items = artist_names[np.argsort(-scores)]
print(top_items)

['Depeche Mode' 'Madonna' 'New Order' ... 'Anata' 'Wayne Marshall'
 'Tokyo Gakuso']

In [33]:
model2 = LightFM(learning_rate=0.08, loss='warp', random_state=42)
model2.fit(train, epochs=10, num_threads=2)

#### Try some parametter and get a board with better

In [34]:
# Evaluate
trp = precision_at_k(model, train, k=10).mean()
tep = precision_at_k(model, test, k=10, train_interactions=train).mean()

tra = auc_score(model, train).mean()
tea = auc_score(model, test, train_interactions=train).mean()

dico = {'Loss':'Warp', 'K':10, 'Learning_rate':0.08, 'Train Precision':trp, 'Test Precision':tep, 'Train Auc':tra,'Test Auc':tea}

tab = pd.DataFrame(dico.items(), columns=['Parameter', 'Values'])

In [35]:
tab

         Parameter    Values
0             Loss      Warp
1                K        10
2    Learning_rate      0.08
3  Train Precision  0.377754
4   Test Precision  0.131981
5        Train Auc  0.964242
6         Test Auc  0.856067

In [36]:
import time

def scoring():

    learning_rate = [0.05, 0.08, 0.10]
    losslist = ['bpr', 'warp', 'logistic', 'warp-kos']
    klist = [5, 7, 9, 11, 13]
    results = []
    
    for x in learning_rate:
        for y in losslist:
            for z in klist:
            
                model = LightFM(learning_rate=x, loss = y)
                t1 = time.process_time()
                model.fit(train, epochs=10, num_threads=2)
                t2 = time.process_time()
                t = t2 - t1
                trainPrecision = precision_at_k(model, train, k=z).mean()
                testPrecision = precision_at_k(model, test, k=z, train_interactions=train).mean()

                trainAUC = auc_score(model, train).mean()
                testAUC = auc_score(model, test, train_interactions=train).mean()

                dicttemp = {}
                dicttemp = {'Time:':t, 'K':z, 'Name':y, 'Learning Rate':x, 'Train Precision':trainPrecision, 'Train AUC':trainAUC, 'Test Precision':testPrecision, "Train AUC":trainAUC, "Test AUC":testAUC}

                results.append(dicttemp)
            
    results = pd.DataFrame(results)

    return results

In [37]:
#scoring()

In [38]:
# Faire la fonction get_recommandation qui prend en entrée un User et renvoie les Artists recommandé 
# (du meilleurs au moins bon au sens du score de recommandation)

In [39]:
## Construction de Grid-search manuelle

# Optimisation de paramètres avec GridSearch

from sklearn.model_selection import ParameterGrid# Create the parameter grid based on the results of random search 

param_grid = {
    'learning_rate': [0.06 , 0.08, 0.10],
    'learning_schedule':['adagrad','adadelta'],
    'loss': ['warp','bpr','logistic','warp-kos']
    
}
# definition liste score auc
auc_score_values = []

for grid in ParameterGrid(param_grid):
    model = LightFM(**grid)
    pred = model.fit(train)
    auc_score_values.append(round(auc_score(model, test, train_interactions=train).mean(),3))
    
max_value = max(auc_score_values) 
max_index = np.argmax(auc_score_values)
ParameterGrid(param_grid)[max_index ].items()

dict_items([('loss', 'warp'), ('learning_schedule', 'adadelta'), ('learning_rate', 0.08)])

In [46]:
model = LightFM(learning_rate=0.08, learning_schedule='adadelta', loss='warp', random_state=42)
model.fit(train, epochs=10, num_threads=2)

def recommend(user):
    scores = model.predict(user, np.arange(n_items))
    top_items = artist_names[np.argsort(-scores)]
    reco = pd.DataFrame(top_items[:10], columns=['Recommandations'])
    return reco

In [47]:
recommend(8)

  Recommandations
0     The Beatles
1       Radiohead
2           Oasis
3      Pink Floyd
4       Bob Dylan
5  Arctic Monkeys
6          R.E.M.
7        The Cure
8         Nirvana
9    Yann Tiersen

In [48]:
# get_ground_truth qui renvoie les artistes ecoutés par un utilisateur par ordre décroissant du playCountScaled

In [49]:
ap

,id,name,userID,artistID,playCount,totalUsers,totalPlays,avgPlays,playCountScaled
2800,72,Depeche Mode,1642,72,352698,282,1301308,4614.567376,1.000000
35843,792,Thalía,2071,792,324663,26,350035,13462.884615,0.920513
27302,511,U2,1094,511,320725,185,493024,2664.994595,0.909347
8152,203,Blur,1905,203,257978,114,318221,2791.412281,0.731441
26670,498,Paramore,1664,498,227829,399,963449,2414.659148,0.645960
...,...,...,...,...,...,...,...,...,...
38688,913,Destiny's Child,1810,913,1,83,34746,418.626506,0.000000
32955,697,Sia,1290,697,1,56,27597,492.803571,0.000000
71811,4988,Chris Spheeris,510,4988,1,5,3106,621.200000,0.000000
91319,17080,Haylie Duff,1851,17080,1,1,1,1.000000,0.000000
63982,3201,Kate Bush,344,3201,1,42,17408,414.476190,0.000000

In [50]:
def get_ground_truth(user):
    return ap[(ap.userID == user)][["userID","name","playCountScaled"]].sort_values("playCountScaled", ascending=False)

In [51]:
get_ground_truth(8)

       userID                  name  playCountScaled
19523       8             No Angels         0.017834
19528       8                 Sandy         0.006791
13176       8        Britney Spears         0.006399
19530       8        Vanessa Petruo         0.004916
14742       8               Beyoncé         0.004037
19531       8             Alexander         0.003986
15139       8             Sugababes         0.002943
19532       8           Queensberry         0.002728
3294        8             Lady Gaga         0.002608
19534       8          Fady Maalouf         0.002319
19535       8                  Cher         0.002265
19590       8  Barbara Schöneberger         0.002248
14047       8    Christina Aguilera         0.002217
19591       8        Colbie Caillat         0.002132
15241       8            Lily Allen         0.001735
19660       8        Annett Louisan         0.001664
12290       8           Céline Dion         0.001644
18071       8         The Saturdays         0.001636
19662       8          Taylor Swift         0.001565
19909       8        Nadja Benaissa         0.001491
19910       8                  Lena         0.001472
19923       8       Cassandra Steen         0.001429
19925       8       Wir sind Helden         0.001426
20166       8               Monrose         0.001398
19933       8    The Pussycat Dolls         0.001398
11965       8          Mariah Carey         0.001355
20179       8             Gabrielle         0.001290
16314       8                  P!nk         0.001222
12692       8               Rihanna         0.001211
20181       8           Cheryl Cole         0.001179
13787       8        Kelly Clarkson         0.001137
20309       8                 Milow         0.001131
20313       8          Sarah Connor         0.001100
20323       8            Jason Mraz         0.001021
3995        8                 Duffy         0.001001
17273       8   Natasha Bedingfield         0.000998
20383       8          Brad Paisley         0.000990
15693       8            Katy Perry         0.000981
20403       8            Silbermond         0.000975
20411       8                Diyana         0.000791
20412       8            Maria Mena         0.000783
20426       8          Shania Twain         0.000726
20472       8        Jennifer Chung         0.000714
11864       8       Whitney Houston         0.000663
20473       8         A Fine Frenzy         0.000646
20509       8           Lucylicious         0.000522
2517        8                  Dido         0.000510
20510       8             Sugarland         0.000502
20518       8     Christina Stürmer         0.000499
20519       8          Jack Johnson         0.000488